button {
    color: var(--primary-color-1);
    background-color: transparent;
    border: 2px solid var(--primary-color-1);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button a {
    color: var(--primary-color-1);
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    /* opacity: 0.5; */
}

button:hover {
    background-color: var(--primary-color-opacity);
}