.navbar ul {
  font-family: monospace;
  display: flex;
  /* gap: 30px; */
  list-style-type: none;
  text-decoration: none;
  margin: 0;
}

.navbar ul a {
  text-decoration: none;
  color: var(--primary-color-1);
  font-size: 20px;
  padding: 10px;
}

.navbar ul li {
  border-bottom: 3px solid var(--background-color);
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

.navbar ul li:hover {
  border-bottom: 3px solid var(--primary-color-1);
  font-weight: 600;
}

.top-container {
  padding: 10px 10px 0;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 95%;
  /* overflow-x: hidden; */
}

.active-menu {
  border-bottom: 3px solid var(--primary-color-1) !important;
  background-color: var(--color-border);
  transition: 0.5s;
  border-radius: 8px 8px 0 0;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sun,
.moon {
  width: 17px;
  height: 17px;
}

.sun {
  background: url(../assets/sun.svg) no-repeat center;
  background-size: 100%;
}

.dark .sun {
  background: url(../assets/sun-white.svg) no-repeat center;
  background-size: 100%;
}

.moon {
  background: url(../assets/moon.svg) no-repeat center;
  background-size: 100%;
}

.dark .moon {
  background: url(../assets/moon-white.svg) no-repeat center;
  background-size: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0 6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--primary-color-1);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--primary-color-1);
}

input:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}


/* hamburger menu code here */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

@media (max-width: 768px) {

  .navbar-container .hamburger-lines {
    /* display: block; */
    cursor: pointer;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primary-color-1);
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .switch-container {
    /* order: 2; */
    position: fixed;
    left: 100px;
  }

  .navbar {
    order: 3;
  }

  .navbar-container input[type="checkbox"]~.menu-items {
    transform: rotateX(90deg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    top: 0;
    position: absolute;
    transition: transform 1s;

  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: rotateX(0) translateX(-100%);
    display: flex;
    position: fixed;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    top: 0;
    position: absolute;
    /* height: 100vh;
    width: 50%; */
    padding: 10px;
    background-color: var(--color-border);
    border-radius: 8px;
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
  }

}