@media (max-width: 768px) {

    .my-photo-container {
        height: 150px;
        width: 150px;
    }

    .my-photo-container img {
        height: 150px;
        width: 150px;
        border-radius: 150px;
        overflow: hidden;
    }

    .w-50 {
        width: 100%;
    }
}