.d-flex-expi {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: min(100%, 800px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.d-flex-expi ul {
    padding-left: 0;
}


.company {
    list-style-type: none;
    font-size: 20px;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.active-company {
    /* color: var(--color-background); */
    background-color: var(--color-border);
    font-weight: 600;
    border-left: 5px solid var(--primary-color-1);
}

.points-list {
    width: 60%;
}

.company-list {
    width: 30%;
}

.company-point {
    list-style-type: none;
    padding: 0.4rem;
    position: relative;
}

.company-point::before {
    content: "▹";
    color: var(--primary-color-1);
    position: absolute;
    left: -20px;
}