.tab-skills {
    padding: 20px;
}

.tab-skills-list {
    /* padding: 50px; */
    justify-content: space-around;

}

.tab-skills-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.tab-skills-list-item-outer {
    box-shadow: 0px 2px 3px 2px rgba(110, 110, 110, 0.25);
    height: 22px;
    width: 50%;
    border-radius: 10px;
}

.tab-skills-list-item-inner {
    height: 22px;
    border-radius: 10px;
    opacity: 0.7;
    /* animation: progress-bar 2s; */
}

/* @keyframes progress-bar {
    0% {
        width: 0;
    }
} */

.tab-skills-list-item-inner span {
    color: #fff;
    font-weight: 600;
    padding-left: 10px;
    font-size: 12px;
}

.pr-3 {
    padding-right: 0.3rem;
}