.container {
  padding: 20px;
}

#loading {
  background: url('./images/logo.gif') no-repeat center center;
  position: absolute;
  background-color: #011627;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.home-page {
text-align: center;
}