.container {
  padding-top: 20px;
  position: relative;
}

.pos-relative {
  position: relative;
}

.main-container {
  width: min(95%, 1000px);
  margin: auto;
}

#loading {
  background: url('./assets/logo.gif') no-repeat center center;
  position: absolute;
  background-color: #011627;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
}

.home-page {
  text-align: center;
  padding: 5rem 0;
  height: calc(100vh - 200px);
}

.my-name {
  font-size: 3.5em;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  color: var(--color-font-solid);
  animation: typing 3.5s steps(40, end);
}

.my-details {
  width: min(95%, 600px);
  text-align: center;
  margin: auto;
  padding: 1rem 0;
  font-size: 18px;
  color: var(--color-font);
  line-height: 30px;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.divider {
  height: 0.5px;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  border-bottom: 0.5px dashed var(--color-font);
}

.my-photo-container {
  height: 302px;
  width: 302px;
  border-radius: 302px;
  padding: 4px;
  border: 2px solid var(--primary-color-1);
}

.my-photo-container img {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  overflow: hidden;
}

.d-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}

.highlight {
  color: var(--primary-color-1);
}

.about {
  height: calc(100vh - 200px);
  padding: 5rem 0;
}

.full-height {
  /* height: calc(100vh - 200px); */
  height: 100vh;
  padding-top: 6rem !important;
}

.heading::before {
  /* content: '->'; */
  content: "▹";
  /* position: absolute; */
  /* left: 12px; */
  padding-right: 20px;
  color: var(--primary-color-1);
}

.playground {
  display: flex;
}

.px-1 {
  padding: 0 10px;
}

.w-50 {
  width: 50%;
}

.email {
  transform: rotate(90deg) translateX(-60%);
  position: fixed;
  bottom: -10%;
  right: -7%;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-font);
  text-decoration: none;
  /* position: relative; */
}

.email::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: var(--color-font);
  display: inline-block;
  margin: 0 0 4px 15px;
}

.my-profiles {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 2%;
  flex-direction: column;
  gap: 20px;
}

.my-profiles::after {
  content: '';
  height: 100px;
  width: 0.5px;
  background-color: var(--color-font);
  display: inline-block;
  margin: 0 0 5px 15px;
}

.my-profiles a {
  height: 30px;
  width: 30px;
}

.profile-logo {
  height: 30px;
  fill: var(--color-font);
  cursor: pointer;
  transform: translateY(0);
  transition: translateY .4s;
}

a:hover .profile-logo {
  transform: translateY(-2px);
  height: 30px;
  fill: var(--primary-color-1);

}

@media (max-width: 768px) {
  .email {
    display: none;
  }

  .my-profiles {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    gap: 20px;
    background-color: var(--color-background);
    z-index: 1;
    height: 50px;
    width: 100%;
  }

  .my-profiles::after,
  .my-profiles::before {
    content: '';
    width: 100px;
    height: 0.5px;
    background-color: var(--color-font);
    display: inline-block;
    margin: 16px 0 0 0;
  }
}